@import '/src/app/scss-functions.scss';

.label {
    display: flex;
    gap: toRem(8);
    font-size: toRem(20);
    align-items: center;

    cursor: pointer;
}

.checkbox {
    accent-color: var(--black);
    width: toRem(24);
    height: toRem(24);

    cursor: pointer;
}