.task {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    word-wrap: break-word;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, .3);
    text-align: left;

    cursor: pointer;

    transition: .2s border;

    &:hover {
        border: 2px solid lightskyblue;
    }
}

.modalContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.timing {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    font-weight: normal;
}