@import '/src/app/scss-functions.scss';

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: toRem(30);
}

.container {
    width: 100%;
}

.category {
    aspect-ratio: 5/ 7;
    background-color: purple;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}