.comments_section {
    padding: 5px 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.comment_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}