.card {
    padding: 20px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: lightskyblue;
    color: white;
    width: 200px;
    height: 100px;
    display: block;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    font-size: 18px;

    text-align: left;
}