.footer {
    border-top: 1px solid gainsboro;
    padding: 10px;
}

.container {
    max-width: var(--container-max-width);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 20%));
    gap: 25px;

    &>* {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.navigation {

    .navigation_link {
        color: rgb(100, 110, 120);

        transition: .3s color;

        &:hover {
            color: var(--black)
        }
    }
}